@font-face {
    font-family: 'Arial Rounded MT Regular';
    font-weight: normal;
    src: url('fonts/Arial Rounded MT Regular.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    margin: 0 !important;
    max-height: 50vh !important;
    user-select: none;
}
.swiper-pagination-bullets {
    display: none;
}
.swiper-button-next {
    color: #f0b90b !important;
    font-weight: bold !important;
}
.swiper-button-prev {
    color: #f0b90b !important;
    font-weight: bold !important;
}
.social_icons_footer {
    max-width: 30px !important;
    max-height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
}
