@font-face {
    font-family: 'Arial Rounded MT Regular';
    font-weight: normal;
    src: url('fonts/Arial Rounded MT Regular.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #000;
}

/* swiper_classes */
.swiper {
    margin: 0 !important;
    max-height: 50vh !important;
    user-select: none;
    min-width: 100%;
}
.swiper-pagination-bullets {
    display: none;
}
.swiper-button-next {
    color: #f0b90b !important;
    font-weight: bold !important;
}
.swiper-button-prev {
    color: #f0b90b !important;
    font-weight: bold !important;
}
.social_icons_footer {
    max-width: 30px !important;
    max-height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
}

@media (max-width: 650px) {
    .swiper {
        max-height: 30vh !important;
    }
}

/* tailwind_override */
.adding_to_card_single_btn {
    width: 100% !important;
}
/* popup_react-model_responsive */
@media (max-width: 768px) {
    .ReactModal__Content {
        width: 90% !important;
        max-width: 90% !important;
    }
}
.line_clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.preserve-whitespace {
    white-space: pre-line;
}

.pad_0_im {
    padding: 0 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
