@font-face {
    font-family: 'Arial Rounded MT Regular';
    font-weight: normal;
    src: url('fonts/Arial Rounded MT Regular.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #000;
}

/* swiper_classes */
.swiper {
    margin: 0 !important;
    max-height: 50vh !important;
    user-select: none;
    min-width: 100%;
}
.swiper-pagination-bullets {
    display: none;
}
.swiper-button-next {
    color: #f0b90b !important;
    font-weight: bold !important;
}
.swiper-button-prev {
    color: #f0b90b !important;
    font-weight: bold !important;
}
.social_icons_footer {
    max-width: 30px !important;
    max-height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
}

@media (max-width: 650px) {
    .swiper {
        max-height: 30vh !important;
    }
}

/* tailwind_override */
.adding_to_card_single_btn {
    width: 100% !important;
}
/* popup_react-model_responsive */
@media (max-width: 768px) {
    .ReactModal__Content {
        width: 90% !important;
        max-width: 90% !important;
    }
}
.line_clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.preserve-whitespace {
    white-space: pre-line;
}

.pad_0_im {
    padding: 0 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.zigzag_b {
    --mask: conic-gradient(
            from -50deg at bottom,
            #0000,
            #000 1deg 99deg,
            #0000 100deg
        )
        50%/35.75px 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.pop::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
.pop::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: #dfe9eb;
}

.pop::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
}

.pop::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

.pop::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #f0b90b;
}

.pop::-webkit-scrollbar-thumb:hover {
    background-color: #cea210;
}

.pop::-webkit-scrollbar-thumb:active {
    background-color: #a9850f;
}

/* radio btn */

@media (max-width: 640px) {
    .custom-radio {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 1rem;
        height: 1rem;
        border: 1px solid gray;
        border-radius: 50%;
        background-color: black;
        position: relative;
        cursor: pointer;
    }

    .custom-radio:checked {
        background-color: #f0b90b;
        border: 1px solid #f0b90b;
    }

    .custom-radio:checked::before {
        content: '';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background-color: #f0b90b;
        border-radius: 50%;
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
    }
}
