/* .slider_img {
    width: auto;
    height: 100%;
    object-fit: contain;
} */
.slider_img {
    height: 50vh;
    object-fit: contain;
    margin: auto;
    border-radius: 10px;
}
.a_slider_img {
    border-radius: 10px;
}

@media (max-width: 1048px) {
    .slider_img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
}

/* 1048 */

.slider_container {
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    height: 50vh;
    max-height: 50vh;
}
@media (max-width: 650px) {
    .slider_container {
        width: 90%;
        max-height: 25vh;
    }
}
