.slider_img {
    width: auto;
    height: 100%;
    /* object-fit: contain; */
}
/* .slider_img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    margin: auto;
} */

.slider_container {
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;
    height: 50vh;
    max-height: 50vh;
}
@media (max-width: 650px) {
    .slider_container {
        width: 90%;
        max-height: 25vh;
    }
}
